#hangmanWindow{
    position: fixed;
    width: 450px;
    height: 680px;
    display: none;
    top:6vh;
    left: 60%;
    box-shadow: 3px 3px #00000048;
    background-color: rgba(255, 0, 0, 0.899);
    border: solid 2px #00000080;
    border-radius: 15px;
    z-index: 15;
}
#closeStopTrump{
    width: 30px;
    height: 30px;
    margin: 10px 0 0 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.837);
    border-radius: 50%;

}
#closeStopTrump:hover{
    background-color: rgba(255, 255, 255, 0.735);
}
#closeStopTrump:active{
    color:red;
}
#stopTrumpHeader{
    position: relative;
    top: 0px;
    left: 12px;
}
#gameWindow{
    width:430px;
    height: 265px;
    margin-top:30px;
    margin-left: 10px;
    background-color: white;
    z-index: 1;
}
#gameFakeNews{
    width: 140px;
    height: auto;
    top:100px;
    left:270px;
    position: absolute;
    background-image: url('/app/assets/images/stopTrump/7_fakeNews.png');
    z-index: 8;
    display: none;
}
#gameHead{
    width:115px;
    height: auto;
    top:96px;
    left:168px;
    position: absolute;
    background-image: url('/app/assets/images/stopTrump/2_head.png');
    z-index: 7;
    display: none;

}
#gameTie{
    width:98px;
    height: auto;
    top:202px;
    left:218px;
    position: absolute;
    background-image: url('/app/assets/images/stopTrump/6_tie.png');
    z-index: 6;
    display: none;

}
#gameArm{
    width:44px;
    height: auto;
    top:208px;
    left:254px;
    position: absolute;
    background-image: url('/app/assets/images/stopTrump/4_arm.png');
    z-index: 5;
    display: none;

}
#gameArm2{
    width:52px;
    height: auto;
    top:150px;
    left:140px;
    position: absolute;
    background-image: url('/app/assets/images/stopTrump/5_arm2.png');
    z-index: 4;
    display: none;

}
#gameBody{
    position: absolute;
    width:100px;
    height: auto;
    top:185px;
    left:175px;
    background-image: url('/app/assets/images/stopTrump/3_body.png');
    z-index: 3;
    display: none;

}
#gameBg{
    position: absolute;
    top:96px;
    left:10px;
    background-image: url('/app/assets/images/stopTrump/1_ovalOffice.png');
    border: solid 2px rgba(255, 255, 255, 0.837);
    width:430px;
    height: 265px;
    display: block;
    z-index: 2;
}
#hangmanKeyboard{
    position: relative;
    top: 30px;
    left: 5px;
    text-align: center;
}
.hm-letters{
    font-size: 27px;
    font-weight: bold;
    cursor: pointer;
}
.hm-letters:hover{
    color: white;
}
.hm-letters:active{
    font-size: 26px;
    padding-bottom: 2px;
    color: rgba(255, 255, 255, 0.741);
}
.hm-reset{
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.hm-reset:hover{
    color: white;
}
.hm-reset:active{
    font-size: 12px;
    padding-bottom: 2px;
    color: rgba(255, 255, 255, 0.741);
}
.trumpPadding{
    padding: 10px 30px 10px 30px;
}