#musicWindow{
    position: absolute;
    width: 350px;
    height: auto;
    box-shadow: 3px 3px #00000070;
    background-color: #ffffffF2;
    border: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: #00000080;
    margin: 0 auto;
    top:160px;
    left:100px;
    z-index: 20;
    display: none;
}
#musicList{
    margin-left: -12px;
}
ul#musicList>li:hover{
    color: rgb(187, 187, 187);
    background-color: rgba(182, 182, 182, 0.296);
}
#closeMusic{
    background-color: #fff;
    border: none;
}
#closeMusic:hover{
    background-color: rgb(206, 206, 206);
    border: none;
}
#closeMusic:active{
    background-color: rgb(157, 157, 157);
    border: none;
}
#songDisplay{
    overflow: hidden;
    padding-left: 5px;
    background-color: rgba(160, 160, 160, 0.556);
}
.musicPlayerBtns{
    width: 100%;
    height: 50px;
    border: solid 1px black;
    background-color: rgba(160, 160, 160, 0.556);
    outline: none;
    cursor: pointer;
    position: relative;
    transform: -50%, -50%;
}
.musicPlayerBtns:hover{
    background-color: rgb(64, 64, 64, 0.556);
}
.musicPlayerBtns:active{
    background-color: rgb(160, 160, 160, 0.556);
}
#seekBar{
    width: 340px;
    height: 5px;
    background-color: rgb(191, 191, 191);
    display: flex;
}
#fill{
    height: 5px;
    width: 1px;
    background-color: rgb(64, 64, 64, 0.556);
    border-radius: 20%;
}
/* #handle{
    width: 6px;
    height: 6px;
    background-color: rgb(255, 255, 255);
    border:solid 1px black;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
} */