#notesWindow{
    position: relative;
    width: 750px;
    height: 600px;
    background-color: #ffffffF2;
    border: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: #00000080;
    margin: 0 auto;
    top:100px;
    left:-140px;
    z-index: 20;
    display: none;
}

.noteDividerLine{
    height: 600px;
    border-left: 2px solid #000;
}