#notesWindow{
    position: absolute;
    width: 750px;
    height: 700px;
    background-color: #ffffffF2;
    border: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: #00000080;
    margin: 0 auto;
    top:150px;
    left: 150px;
    z-index: 23;
    display: block;
}

.noteDividerLine{
    height: 700px;
    border-left: 2px solid #000;
}