#pokedexWindow{
    font-family: rubik;
    color: white;
    position: absolute;
    padding: 40px;
    width: 1000px;
    height: 720px;
    box-shadow: 3px 3px #ffffff48;
    background-color: black;
    border: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: #00000080;
    margin: 0 auto;
    top:80px;
    left:250px;
    z-index: 19;
    display: block;
}

#pokedexTitle{
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

#pokedex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card{
    list-style: none;
    padding: 40px;
    background-color: orangered;
    color: #222;
    text-align: center;
}

/* .card:hover {
    animation: bounce 0.5s linear;
} */

.card-title{
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}

.card-subtitle{
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image{
    height: 180px;
}

@keyframes bounce{
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    80%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(0);
    }
}