#rockPaperScissorWindow{
    position: relative;
    width: 450px;
    height: 450px;
    box-shadow: 3px 3px #00000048;
    background-color: rgba(236, 243, 236, 0.949);
    border: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: #00000080;
    margin: 0 auto;
    top:-100px;
    left:100px;
    z-index: 20;
    display: block;
}
