#soundWindow{
    position: absolute;
    width: 500px;
    height: 350px;
    box-shadow: 2px 2px #00000048;
    background-color: rgba(8, 5, 168, 0.949);
    border: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: #00000080;
    margin: 0 auto;
    top:100px;
    left: 150px;
    z-index: 17;
    display: none;
}

#MGS{
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(46, 60, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    left: 50px
}

#up{
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(46, 60, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    left: 30px
}

#codec, #ohNo, #mario{
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(46, 60, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    left: 20px
} 

#hadouken, #anotherOne, #dun{
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(46, 60, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    left: 120px;
}

#coin{
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(46, 60, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

#airhorn, #crickets, #bruh{
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(46, 60, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    left: 80px;
}

#airhorn, #anotherOne{
    top: -20px
}

#bruh, #dun{
    top: 30px
}

#mario, #coin, #up{
    top: 20px
}

#crickets, #hadouken{
    top: 10px
}

#airhorn:hover, #anotherOne:hover, #bruh:hover, #codec:hover, #crickets:hover, 
#dun:hover, #hadouken:hover, #mario:hover, #coin:hover, 
#up:hover, #MGS:hover, #ohNo:hover {
    background-color: #0bb1f3
}

#airhorn:active, #anotherOne:active, #bruh:active, #codec:active, #crickets:active, 
#dun:active, #hadouken:active, #mario:active, #coin:active, 
#up:active, #MGS:active, #ohNo:active {
    background-color: #3e578e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#closeSounds{
    position: relative;
    width: 30px;
    height: 30px;
    margin: -25px 0 0 -15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgba(26, 212, 245, 0.837);
    border: solid 1px white;
    border-radius: 50%;
    left: 15px;
    top: 5px;
}
#closeSounds:hover{
    opacity: .7;
}
#closeSounds:active{
    background-color: black;
    color: white;
}