#youtubeWindow{
    position: relative;
    top: 20vh;
    left: 30vw;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.769);
    display: none;
}
#closeYoutube{
    background-color: rgba(255, 255, 255, 0.803);
    border: none;
}
#closeYoutube:hover{
    background-color: rgb(206, 206, 206, 0.803);
    border: none;
}
#closeYoutube:active{
    background-color: rgb(157, 157, 157, 0.803);
    border: none;
}