#youtubeWindow{
    position: relative;
    top: 20vh;
    left: 30vw;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.769);
    display: none;
}
#closeYoutube{
    background-color: rgba(0, 0, 0, 0.803);
    border: none;
}
#closeYoutube:hover{
    background-color: rgba(255, 0, 0, 0.858);
    border: none;
}
#closeYoutube:active{
    background-color: rgba(170, 4, 4, 0.803);
    border: none;
}